.addPost{
    position: absolute;
    top:150px;
    left: 500px;
}

.main_data {
    height: 550px;
    top: 63px;
    background: url("https://i.pinimg.com/originals/66/fe/3f/66fe3fb9d3f51c1a781d45a32ab39935.jpg");
    background-size: cover;
    padding: 15px;
}

.data {
    padding: 5px;
}

.avatar{
    border-radius: 50%;
    padding:15px;
}


